# =========================
# Python
# =========================
.venv/
backend/.venv/
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# =========================
# Machine Learning
# =========================

# ESC-50 Dataset
backend/ESC-50-master/
backend/audio_training/datasets/
backend/audio_training/cache/
backend/audio_training/outputs/
backend/audio_training/manifests/*.csv
backend/audio_training/datasets/
backend/audio_training/cache/
backend/audio_training/outputs/

# Trained Models
backend/model/
*.h5
*.keras
*.pth
*.pt
*.pkl
*.joblib

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/

**/doc/api/
**/ios/Flutter/.last_build_id

# Android build outputs
android/app/debug/
android/app/profile/
android/app/release/

# =========================
# IDEs
# =========================
.vscode/
.idea/

*.iml
*.ipr
*.iws

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Misc
# =========================
*.swp
*.tmp
*.bak

# Flutter symbolication
app.*.symbols
app.*.map.json
